.quarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}
.quarter-img img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
@media (max-width: 375px) {
  .quarter {
    display: none;
  }
}
@media (max-width: 1024px) {
  .quarter {
    height: 50vh;
    width: 30vw;
    margin-left: 5rem;
  }
  .quarter-img img {
    height: 200px;
  }
}
