@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 90vw;
  border-bottom: 1px solid rgb(226, 223, 223);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack {
  text-align: left;
  max-width: 20vw;
  line-height: 1rem;
}
.top-nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: red;
  text-decoration: none;
}
.top-nav a {
  text-decoration: none;
  color: red;
}
.gray {
  color: gray;
}
@media (max-width: 375px) {
  .header {
    border: 1px solid gold;
    width: 100vw;
  }
  .stack {
    line-height: 0.5rem;
  }
  .stack h1 {
    font-size: 12px;
  }
  .top-nav {
    font-size: 8px;
    width: 200px;
  }
}
