@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}
.overall-nav {
  width: 35%;
  height: 100%;
  border: 1px solid red;
  margin: 1rem;
}
.overall-main {
  width: 70%;
}
