.quad {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 50%;
}
.img-section img {
  width: 100%;
  border-radius: 5px;
  min-width: 240px;
  max-height: 140px;
  min-height: 144px;
  border: 1px solid lightgray;
}
.quad-text h6 {
  margin-top: 0rem;
}
@media (max-width: 375px) {
  .quad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-section img {
    width: 90%;
    height: 50%;
  }
  .quad-text {
    width: 90%;
    height: 50%;
  }
}

@media (max-width: 1024px) {
  .quad {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .quad-text {
    display: flex;
    flex-direction: column;
    width: 25vw;
  }
}
